    <script src="http://localhost/HotelProfesional/Resource/js/toastr.min.js"></script>
    <script src="http://localhost/HotelProfesional/Resource/js/config.js"></script>
    <script src="http://localhost/HotelProfesional/Resource/js/validaciones.js"></script>
    <script src="http://localhost/HotelProfesional/Resource/js/Clientes.js"></script>
    <script src="http://localhost/HotelProfesional/Resource/js/Usuarios.js"></script>
    <script src="http://localhost/HotelProfesional/Resource/js/index.js"></script>
</body>
</html>