    <title>Hotel Alamo : Registrar Cliente</title>
</head>
<body onload="obtenerTipoDocumentos()"
    <div class="container text-center my-5 p-4">
        <div class="rounded lastnews darkbg mt-2 mb-5 p-1">
            <h1 class="tittle">Formulario de Registro</h1>
        </div>
        <form id="formcliente">
            <div class="mb-3">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
                            <input type="text" id="cliName" class="form-control" placeholder="Ingrese sus nombres ..." required>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <input type="text" id="cliLastname" class="form-control" placeholder="Ingrese sus apellidos ..." required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
                            <select id="cliTipoDoc" class="form-control">
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <input type="number" id="cliDoc" class="form-control" placeholder="Ingrese su documento de identidad ..." required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
                            <input type="text" id="cliLocation" class="form-control" placeholder="Ingrese su dirección ..." required>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <input type="email" id="cliEmail" class="form-control" placeholder="Ingrese su correo electrónico ..." required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
                            <input type="text" id="cliUser" class="form-control" placeholder="Ingrese su nombre de usuario ..." required>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <input type="password" id="cliPass" class="form-control" placeholder="Ingrese su contraseña ..." required>
                        </div>
                    </div>
                </div>
            </div>
            <p>Ya tengo cuenta. <a href="http://localhost/HotelProfesional/Login/login">ir a Iniciar Sesión</a></p>
            <a onclick="registrarCliente()" class="btn btn-block dorbg hand">Registrarme</a>
        </form>
    </div>