    <title>Hotel Alamo : Error 404</title>
</head>
<body>
    <img src="http://localhost/HotelProfesional/Resource/img/img1.jpg" id="bgerror">
    <div class="container-fluid">
        <div class="text-center lblerror">
            <h1>Error 404</h1>
            <h2>Not Found</h2>
            <h3>Lo sentimos, el recurso al que deseas acceder ya no existe o nunca existió</h3>
            <a href="http://localhost/HotelProfesional/" class="btn btn-primary hand">Continuar navegando ...</a>
        </div>
    </div>